<!DOCTYPE html>
<html>
<head>
    <title>Equipment List</title>
</head>
<body>

<h1 align="center">Equipment List</h1>

<table border="1" cellpadding="10" cellspacing="0">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Model Number</th>
        <th>Manufacturer</th>
        <th>Department</th>
        <th>Status</th>
    </tr>

    {% for equipment in equipments %}
    <tr>
        <td>{{ equipment.id }}</td>
        <td>{{ equipment.name }}</td>
        <td>{{ equipment.model_number }}</td>
        <td>{{ equipment.manufacturer }}</td>
        <td>{{ equipment.department }}</td>
        <td>{{ equipment.status }}</td>
    </tr>
    {% endfor %}

</table>

</body>
</html>